<!DOCTYPE html>
<html>
<head>
	<title> roots </title>
    {% include 'header.html' %}
  <style>
  h1{
    Font-size: 70px;
    text-align: center;
    Line-height: 200px;
  }
  form{
    Text-align: center;
  }
  </style>

</head>

<body>
    <blockquote class="blockquote text-center">
        <p class="mb-0">TOTAL POINTS: {{ totalPoints }}</p>
    </blockquote>

	<h1> CATEGORIES </h1>
	<form action = '/fitness'>
	<button type="button" class="btn btn-success mr-2">FITNESS</button>
	<button type="button" class="btn btn-warning mr-2">DIET</button>
	<button type="button" class="btn btn-info">SLEEP</button>
	</form> 
</body>