<!DOCTYPE html>
<html>
<head>
	<title> roots </title>
    {% include 'header.html' %}
  <style>
  h1{
    Font-size: 70px;
    text-align: center;
    Line-height: 200px;
  }
  .btn-block{
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 20%;
  }
  </style>

</head>

<body>
    <div class = "container">
        <blockquote class="blockquote text-center">
        <p class="mb-0">TOTAL POINTS: {{ totalPoints }}</p>
        <p class="mb-0">CALORIES LEFT: {{ calories }}</p>
    </blockquote>

    </div>

	<h1> CATEGORIES </h1>
	<form action = '/fitness'>
	<a href="/healthyhangouts" class="text-decoration-none"><button type="button" class="btn btn-success btn-block mx-auto mb-3">HEALTHY HANGOUTS</button></a>
	<a href="/diet" class="text-decoration-none"><button type="button" class="btn btn-warning btn-block mx-auto mb-3">DIET</button></a>
	<a href="sleep" class="text-decoration-none"><button type="button" class="btn btn-info btn-block mx-auto">SLEEP</button></a>
	</form> 
</body>
</html>