<!DOCTYPE html>

<html>
<head>
	<title> rootsup </title>
	<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/	bootstrap/4.3.1/css/bootstrap.min.css">
</head>



<body>
<div class = "container">
	<h1> DIET </font> </h1>
	<p> What did you eat today? </p>

	<p> 
	Exercises: <br>
	For these food items, please input the number eaten:<br>


	<div class = "row">

	<div class = "col">
	ORANGE: <br>
	<input type = "text" name = "orange">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>

	<div class = "col">
	APPLE: <br>
	<input type = "text" name = "apple">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>

	<div class = "col">
	BANANA: <br>
	<input type = "text" name = "banana">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>
	
	<div class = "col">
	PEAR:
	<input type = "text" name = "pear">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>

	</div>


	<br> <br> <br>     

	Please input the total oz eaten: <br>
	<div class = "row">
	<div class = "col">
	CHICKEN: <br>
	<input type = "text" name = "chicken">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>
	<div class = "col">
	SALMON: <br>
	<input type = "text" name = "salmon">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>
	<div class = "col">
	BROCCOLI: <br>
	<input type = "text" name = "broccoli">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>
	<div class = "col">
	CARROTS: <br>
	<input type = "text" name = "carrots">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>

	</div>
	</p>
	
	




</body>
</html>