<!DOCTYPE html>

<html>
<head>
	<title> rootsup </title>
    {% include 'header.html' %}

</head>


<body>
	<body>

		<div class="container">
		  <blockquote class="blockquote text-center">
				<p class="mb-0">TOTAL POINTS: {{ totalPoints }}</p>
				<p class="mb-0">CALORIES LEFT: {{ calories }}</p>
		  </blockquote>
		  <h1>DIET</font></h1>
		  <p>What did you eat today?</p>
		  
		  <form action="/inputFood", method = "post">
			<input type="text" name="foodItem">
			<input class="btn btn-primary" type="submit" value="Submit">
		  </form>
</body>

</html>