<!DOCTYPE html>

<html>
<head>
	<title> rootsup </title>

    {% include 'header.html' %}

    <style>
    .row {
        border: 1px;
    }  
    </style>


</head>


<body>

    <blockquote class="blockquote text-center">
        <p class="mb-0">TOTAL POINTS: {{ totalPoints }}</p>
    </blockquote>

    <div class = "container">
        <h1> HEALTHY HANGOUTS </font> </h1>

        <p> Which healthy hangout did you participate in?</p>

        
        <div class="container">
            <div class="row text-center">
              <div class="col-3"><br>
                <img class="rounded mx-auto d-block" src = "https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/p2048x2048/75429641_564526224357717_2882554720751190016_n.jpg?_nc_cat=111&_nc_oc=AQkHUicX1W0M13w47UKTuMvFdsw4wQV1qiP8mEREcZU-JAk9Jhp-oIvNHLlLrMEX1E0&_nc_ht=scontent-lax3-2.xx&oh=5f17376c7f9ff251c497c264e27eef5c&oe=5E578ACF" width = 250 height = 250>
                <br><button type="button" class="btn btn-primary btn-block">Laughing at Katherine's jokes!</button>
              </div>
              <div class="col-3"><br>
                <img class="rounded mx-auto d-block" src = "https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/s2048x2048/73242831_1572272712914695_1986055171876061184_n.jpg?_nc_cat=110&_nc_oc=AQk1BrVpLmO0J5wIgEM3uhFYQq6niahq0rwZPkyLifi0I2k00WL-Yex_ChX-BrRVVs0&_nc_ht=scontent-lax3-2.xx&oh=d0d1e48ce5077d1fa86fe453d955c5a7&oe=5E60663B" width = 250 height = 250>
                <br><button type="button" class="btn btn-success btn-block">Dancing with Hana!</button>
              </div>
              <div class="col-3"><br>
                <img class="rounded mx-auto d-block" src = "https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/s2048x2048/72714022_2233920520046970_2937678783454380032_n.jpg?_nc_cat=103&_nc_oc=AQnCfMd_pBehDElzOBp-0fInRaaOZ1EFcBFlLrhzAmCDAyPX0-wIJlsFCcD5Wz4NYDE&_nc_ht=scontent-lax3-2.xx&oh=69497254f575a166b9426ae898a42592&oe=5E1F700E" width = 250 height = 250>
                <br><button type="button" class="btn btn-warning btn-block">Tennis with Becca!</button>
              </div>
              <div class="col-3"><br>
                <img class="rounded mx-auto d-block" src = "https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/73243269_1426638910793083_4450451726364835840_n.jpg?_nc_cat=108&_nc_oc=AQk4sjL0Anzi38k6jxJyUFItuwH4_SxRZ66zGQX2TxU4OuBlYzdW_gdjdsbxSPagmdI&_nc_ht=scontent-lax3-2.xx&oh=4d10c454854d12ac48aa3c135e7d07a1&oe=5E285D21" width = 250 height = 250>
                <br><button type="button" class="btn btn-danger btn-block">Basketball with Kasey!</button>
              </div>
            </div>
          </div>


    </div>


</body>
</html>