<!DOCTYPE html>

<html>
<head>
	<title> rootsup </title>
	<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/	bootstrap/4.3.1/css/bootstrap.min.css">
</head>



<body>
<div class = "container">
	<h1> FITNESS </font> </h1>
	<p> What form of exercise did you just complete? </p>

	<p> 
	Exercises: <br>
	For these exercises please input the number of MINUTES it took you
	to complete the exercise:<br>


	<div class = "row">

	<div class = "col">
	JOGGING: <br>
	<input type = "text" name = "jog">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>

	<div class = "col">
	RUNNING: <br>
	<input type = "text" name = "run">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>

	<div class = "col">
	CYCLING: <br>
	<input type = "text" name = "cycle">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>
	
	<div class = "col">
	SWIMMING:
	<input type = "text" name = "swim">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</	button>
	<br>
	</div>

	</div>


	<br> <br> <br>     

	Please input the total number of SETS you completed: <br>
	<div class = "row">
	<div class = "col">
	PUSH-UPS: <br>
	<input type = "text" name = "pushup">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>
	<div class = "col">
	LEG LIFTS: <br>
	<input type = "text" name = "run">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>
	<div class = "col">
	PULL UPS: <br>
	<input type = "text" name = "pullup">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>
	<div class = "col">
	SQUATS: <br>
	<input type = "text" name = "squats">
	<button type = "button" class = "btn btn-primary btn-sm">SUBMIT</			button><br>
	</div>

	</div>
	</p>
	
	




</body>
</html>