<!DOCTYPE html>

<html>
<head>
	<title> rootsup </title>

    {% include 'header.html' %}


</head>


<body>

    <blockquote class="blockquote text-center">
        <p class="mb-0">TOTAL POINTS: {{ totalPoints }}</p>
    </blockquote>

    <div class = "container">
        <h1> HEALTHY HANGOUTS </font> </h1>

        <p> Which healthy hangout did you participate in?</p>

        <form>
        <div class = "row">
            <div class = "col">
                <button type = "button" class = "btn btn-primary btn-lg">Basketball with Kasey</button>
            </div>
            <div class = "col">
                <button type = "button" class = "btn btn-info btn-lg">Dancing with Hana</button>
            </div>
        </div>
        <br> <br>
        <div class = "row">
            <div class = "col">
                <button type = "button" class = "btn btn-dark btn-lg"> Tennis with Becca</button>
            </div>
            <div class = "col">
                <button type = "button" class = "btn btn-danger btn-lg">Laughing at Katherine's Jokes</button>
            </div>
        </div>
        </form>






</body>
</html>