<!DOCTYPE HTML>
<html>
<head>
  <title>Sleep</title>
    {% include 'header.html' %}

</head>

<body>

<div class="container">
  <blockquote class="blockquote text-center">
        <p class="mb-0">TOTAL POINTS: {{ totalPoints }}</p>
  </blockquote>
  <h1>SLEEP</font></h1>
  <p>How many hours of sleep did you get?</p>
  <br><img class="rounded mx-auto d-block" src = "https://www.petmd.com/sites/default/files/shutterstock_395310793.jpg" width = 450 height = 300 ><br>
  <form action="/inputSleep", method = "post">
    <center><input type="text" name="hours">
    <input class="btn btn-primary" type="submit" value="Submit"></center>
  </form>
</body>

</html>